.header-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color:#000080;
    position: relative;
    top: 10px;
    left: 20px;
}

.header-nav-list{
    display:flex;
    justify-content:flex-end;
    position: relative;
    bottom:15px;
    list-style:none;
    font-family:'Roboto', sans-serif ;
    font-weight: bold;
    
}
.header-nav-item{
    position:relative;
    margin-right:25px
}
a {
    text-decoration: none;
    color:#000080
}

.firstview{
    position:relative;
    top: 100px;
    left: 50%;
    width:50%;
    z-index: 10;
}
.main-title{
    font-size: 70px;
    position: relative;
    bottom:80px;
}
.bg{
    width: 70%;
    height: 200px;
    background-color: #000080;
    z-index: 0;
    position: relative;
    bottom: 80px;
}